/* html{
           font:0.75em/1.5 sans-serif;
           color:#333;
           background-color:#fff;
           padding:1em;
       } */

       /* Tables */
       table{
           width:100%;
           margin:1em;
           border-collapse: collapse;
       }
       th{
           font-weight:bold;
           background-color:#ddd;
       }
       th,
       td{
           padding:0.5em;
           border:1px solid #ccc;
       }
       input {
            border:none;
            width:90%;
            height:100%;
            font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
            font-size:12px;
            padding: 0 4px 0 4px;
       }

        input:focus {
          border:2px solid #5292F7;
          outline: none;
        }
